/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3/font-face";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

$color_H1: #2288b7;
$color_hr: #e0e0e0;
$color_table_border: #d3d3d3;
$inputs_break: 8px;
$table_radius: 3px;

html {
  background-image: url('../images/bg2.jpg');
  body {
    font-family: 'Source Sans Pro', sans-serif !important;
    max-width: 980px;
    margin: 77px auto !important;
    background-color: transparent;
    text-align: center;
    padding-right: 0 !important;

    h1 {
      font-weight: 300;
      font-size: 60px;
      color: $color_H1;
      margin-bottom: 8px;
    }
    hr {
      border-color: $color_hr;
      margin-bottom: 17px;
    }
    .container-fluid, .container {
      //height: auto !important;
      padding-left: 20px;
      padding-right: 20px;
      min-height: 500px;
      @include border-radius(3px);
      background-color: white;
      @include box-shadow(rgba(0, 0, 0, 0.05) 0 0 0 6px);

      .heading-description {
        font-size: 17px;
        margin-bottom: 24px;
      }
      .filters-bar {
        margin-bottom: 18px;
        .search-input {
          display: inline-block;
          width: 370px;
          height: 29px;
          margin-right: $inputs_break;
          @include border-radius(3px);

        }
        .select-input {
          width: 150px;
          height: 18px;
          padding: 0 5px;
          @include border-radius(3px);
          @include box-shadow(#eaeced 0 0 0 6px);
          margin-right: $inputs_break;
          vertical-align: text-top;
          font-size: 11px;
          font-weight: bold;
          @include background-image(linear-gradient(white, #ededed));
        }
        .reset-button, .search-button {
          text-align: center;
          height: 29px;
          padding: 0;
          font-weight: bold;
          vertical-align: top;
          border: none;
        }

        .reset-button {
          width: 72px;
          margin-right: $inputs_break;
          color: #494949;
          @include background-image(linear-gradient(#fcf8f8, #c5c5c5));
        }

        .search-button {
          width: 80px;
          color: #f4f7fc;
          @include background-image(linear-gradient(#5897f7, #126ae6));
        }
      }

      .no-results {
        margin: 50px;
      }
      .table-responsive {
        border: none;
        .payments-table {
          border-collapse: separate;
          border-spacing: 0;
          font-size: 12px;
          margin-bottom: 0;
          thead, tbody {
            tr {
              th, td {
                border-right: 1px solid $color_table_border;
                border-bottom: 1px solid $color_table_border;
                padding: 5px;
              }
              th:first-child, td:first-child {
                border-left: 1px solid $color_table_border;
              }
              th {
                @include background-image(linear-gradient(#f1f2f2, #e8eaeb));
                border-top: 1px solid $color_table_border;
                text-align: left;
              }
              &:first-child th {
                &:first-child {
                  @include border-top-left-radius($table_radius);
                }
                &:last-child {
                  @include border-top-right-radius($table_radius);
                }
              }
              &:last-child td {
                &:first-child {
                  @include border-bottom-left-radius($table_radius);
                }
                &:last-child {
                  @include border-bottom-right-radius($table_radius);
                }
              }
              th, td {
                &:not(:first-of-type) {
                  text-align: center;
                }
                &:first-of-type {
                  padding-left: 30px;
                }
              }
            }
          }
          thead {
            tr {
              height: 58px;
              th {
                border-top: 1px solid $color_table_border !important;
                font-weight: bold;
                vertical-align: middle;
                &.suppliers-header {
                  width: 58%;
                  border-right: none;
                }
                &.rating-header {
                  width: 22%;
                  border-left: none;
                  border-right: none
                }
                &.reference-header {
                  border-left: none;
                  border-right: none
                }
              }
            }
          }
          tbody {
            //@include box-shadow(rgba(0, 0, 0, 0.05) 0 0 0 6px);
            tr {
              cursor: pointer;
              height: 50px;
              &:nth-of-type(odd) {
                background-color: white;
              }
              &:nth-of-type(2n) {
                background-color: #f7f7f7;
              }
              td {
                vertical-align: middle;
              }
            }
          }
          tfoot {
            td {
              border-top: 0;
            }
          }
        }

        .pagination {
          margin: 10px 0;
          li {
            a {
              width: 25px;
              height: 25px;
              line-height: 24px;
              margin: 0 2px;
              @include border-radius(2px);
              font-size: 12px;
              font-weight: bold;
              padding: 0;
              color: #717171;
              @include background-image(linear-gradient(white, #eaeaea));
              border-color: #bbbbbb;
            }
          }
          .active {
            a {
              color: white;
              border-color: #575757;
              background-image: none;
              background-color: #686868;
              @include box-shadow(#575757 0 0 3px 1px inset);
            }
          }
        }
      }
    }
    .modal {
      padding: 0;
      .modal-content {
        padding: 0 30px;
        .modal-body {
          .modal-details-headings {
            font-weight: bolder;
            width: 120px;
            display: inline-block;
          }
        }
        .modal-footer {
          text-align: center;
        }
      }
    }
    .pound-sign {
      display: inline-block;
      width: 25px;
      height: 25px;
      line-height: 24px;
      margin: 0 2px;
      text-align: center;
      @include border-radius(50%);
      font-weight: bold;
      border: 1px solid #717171;
      @include background-image(linear-gradient(white, #dadcdc));
      &.active {
        @include background-image(linear-gradient(#8bcbe8, #4f9bde));
        color: white;
      }

    }
  }
  .select2 {
    &.select2-container {
      width: 160px !important;
      height: 29px;
      vertical-align: top;
      margin-right: 9px;
      .selection {
        .select2-selection {
          &.select2-selection--single {
            display: inline-block;
            background-color: #eaeced;
            border: none;
            height: 29px;
            @include border-radius(3px);
            width: 160px;
            .select2-selection__rendered {
              @include border-radius(3px);
              @include background-image(linear-gradient(white, #e1dcdc));
              font-size: 12px;
              line-height: 18px;
              height: 18px;
              border: 1px solid #9c9c9c;
              margin: 5px;
              .select2-selection__placeholder {
                display: block;
                color: #434343;
                font-size: 11px;
                text-align: left;
              }
            }
            .select2-selection__arrow {
              width: 25px;
              b {
                border-width: 3px 3px 0 3px;
                border-color: #434343 transparent transparent transparent;
                top: 17px;

              }
              &:after {

                content: '';
                border-color: transparent transparent #434343 transparent;
                border-style: solid;
                border-width: 0 3px 3px 3px;
                height: 0;
                left: 50%;
                margin-left: -4px;
                margin-top: -2px;
                position: absolute;
                width: 0;
                top: 11px;
              }
            }
          }
        }
      }
      &.select2-container--open {
        .select2-selection__arrow {
          b {
            border-color: #434343 transparent transparent transparent;
          }
        }
      }
    }
  }
}