/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
/* line 5, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.scss */
html {
  background-image: url("../images/bg2.jpg");
}
/* line 20, ../sass/screen.scss */
html body {
  font-family: 'Source Sans Pro', sans-serif !important;
  max-width: 992px;
  margin: 77px auto !important;
  background-color: transparent;
  text-align: center;
}
/* line 27, ../sass/screen.scss */
html body h1 {
  font-weight: 300;
  font-size: 60px;
  color: #2288b7;
  margin-bottom: 8px;
}
/* line 33, ../sass/screen.scss */
html body hr {
  border-color: #e0e0e0;
  margin-bottom: 17px;
}
/* line 37, ../sass/screen.scss */
html body .container-fluid, html body .container {
  height: auto !important;
  padding-left: 20px;
  padding-right: 20px;
  height: 581px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 6px;
}
/* line 46, ../sass/screen.scss */
html body .container-fluid .heading-description, html body .container .heading-description {
  font-size: 17px;
  margin-bottom: 24px;
}
/* line 50, ../sass/screen.scss */
html body .container-fluid .filters-bar, html body .container .filters-bar {
  margin-bottom: 20px;
}
/* line 52, ../sass/screen.scss */
html body .container-fluid .filters-bar .search-input, html body .container .filters-bar .search-input {
  display: inline-block;
  width: 38%;
  height: 29px;
  margin-right: 10px;
}
/* line 59, ../sass/screen.scss */
html body .container-fluid .filters-bar .select-input, html body .container .filters-bar .select-input {
  width: 150px;
  height: 18px;
  padding: 0 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #eaeced 0 0 0 6px;
  -webkit-box-shadow: #eaeced 0 0 0 6px;
  box-shadow: #eaeced 0 0 0 6px;
  margin-right: 10px;
  vertical-align: text-top;
  font-size: 11px;
  font-weight: bold;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background-image: -moz-linear-gradient(#ffffff, #ededed);
  background-image: -webkit-linear-gradient(#ffffff, #ededed);
  background-image: linear-gradient(#ffffff, #ededed);
}
/* line 71, ../sass/screen.scss */
html body .container-fluid .filters-bar .reset-button, html body .container-fluid .filters-bar .search-button, html body .container .filters-bar .reset-button, html body .container .filters-bar .search-button {
  text-align: center;
  height: 29px;
  padding: 0;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: top;
  border: none;
}
/* line 81, ../sass/screen.scss */
html body .container-fluid .filters-bar .reset-button, html body .container .filters-bar .reset-button {
  width: 72px;
  color: #494949;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZjhmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M1YzVjNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcf8f8), color-stop(100%, #c5c5c5));
  background-image: -moz-linear-gradient(#fcf8f8, #c5c5c5);
  background-image: -webkit-linear-gradient(#fcf8f8, #c5c5c5);
  background-image: linear-gradient(#fcf8f8, #c5c5c5);
}
/* line 87, ../sass/screen.scss */
html body .container-fluid .filters-bar .search-button, html body .container .filters-bar .search-button {
  width: 80px;
  color: #f4f7fc;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4OTdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEyNmFlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5897f7), color-stop(100%, #126ae6));
  background-image: -moz-linear-gradient(#5897f7, #126ae6);
  background-image: -webkit-linear-gradient(#5897f7, #126ae6);
  background-image: linear-gradient(#5897f7, #126ae6);
}
/* line 94, ../sass/screen.scss */
html body .container-fluid .payments-table, html body .container .payments-table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 12px;
}
/* line 100, ../sass/screen.scss */
html body .container-fluid .payments-table thead tr th, html body .container-fluid .payments-table thead tr td, html body .container-fluid .payments-table tbody tr th, html body .container-fluid .payments-table tbody tr td, html body .container .payments-table thead tr th, html body .container .payments-table thead tr td, html body .container .payments-table tbody tr th, html body .container .payments-table tbody tr td {
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding: 5px;
}
/* line 105, ../sass/screen.scss */
html body .container-fluid .payments-table thead tr th:first-child, html body .container-fluid .payments-table thead tr td:first-child, html body .container-fluid .payments-table tbody tr th:first-child, html body .container-fluid .payments-table tbody tr td:first-child, html body .container .payments-table thead tr th:first-child, html body .container .payments-table thead tr td:first-child, html body .container .payments-table tbody tr th:first-child, html body .container .payments-table tbody tr td:first-child {
  border-left: 1px solid #d3d3d3;
}
/* line 108, ../sass/screen.scss */
html body .container-fluid .payments-table thead tr th, html body .container-fluid .payments-table tbody tr th, html body .container .payments-table thead tr th, html body .container .payments-table tbody tr th {
  background: #eee;
  border-top: 1px solid #d3d3d3;
  text-align: left;
}
/* line 114, ../sass/screen.scss */
html body .container-fluid .payments-table thead tr:first-child th:first-child, html body .container-fluid .payments-table tbody tr:first-child th:first-child, html body .container .payments-table thead tr:first-child th:first-child, html body .container .payments-table tbody tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
/* line 117, ../sass/screen.scss */
html body .container-fluid .payments-table thead tr:first-child th:last-child, html body .container-fluid .payments-table tbody tr:first-child th:last-child, html body .container .payments-table thead tr:first-child th:last-child, html body .container .payments-table tbody tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 122, ../sass/screen.scss */
html body .container-fluid .payments-table thead tr:last-child td:first-child, html body .container-fluid .payments-table tbody tr:last-child td:first-child, html body .container .payments-table thead tr:last-child td:first-child, html body .container .payments-table tbody tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 125, ../sass/screen.scss */
html body .container-fluid .payments-table thead tr:last-child td:last-child, html body .container-fluid .payments-table tbody tr:last-child td:last-child, html body .container .payments-table thead tr:last-child td:last-child, html body .container .payments-table tbody tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 130, ../sass/screen.scss */
html body .container-fluid .payments-table thead tr th:not(:first-of-type), html body .container-fluid .payments-table thead tr td:not(:first-of-type), html body .container-fluid .payments-table tbody tr th:not(:first-of-type), html body .container-fluid .payments-table tbody tr td:not(:first-of-type), html body .container .payments-table thead tr th:not(:first-of-type), html body .container .payments-table thead tr td:not(:first-of-type), html body .container .payments-table tbody tr th:not(:first-of-type), html body .container .payments-table tbody tr td:not(:first-of-type) {
  text-align: center;
}
/* line 133, ../sass/screen.scss */
html body .container-fluid .payments-table thead tr th:first-of-type, html body .container-fluid .payments-table thead tr td:first-of-type, html body .container-fluid .payments-table tbody tr th:first-of-type, html body .container-fluid .payments-table tbody tr td:first-of-type, html body .container .payments-table thead tr th:first-of-type, html body .container .payments-table thead tr td:first-of-type, html body .container .payments-table tbody tr th:first-of-type, html body .container .payments-table tbody tr td:first-of-type {
  padding-left: 30px;
}
/* line 140, ../sass/screen.scss */
html body .container-fluid .payments-table thead tr, html body .container .payments-table thead tr {
  height: 60px;
}
/* line 142, ../sass/screen.scss */
html body .container-fluid .payments-table thead tr th, html body .container .payments-table thead tr th {
  border-top: 1px solid #d3d3d3 !important;
  font-weight: bold;
  vertical-align: middle;
}
/* line 150, ../sass/screen.scss */
html body .container-fluid .payments-table tbody tr, html body .container .payments-table tbody tr {
  cursor: pointer;
  height: 50px;
}
/* line 153, ../sass/screen.scss */
html body .container-fluid .payments-table tbody tr:nth-of-type(odd), html body .container .payments-table tbody tr:nth-of-type(odd) {
  background-color: white;
}
/* line 156, ../sass/screen.scss */
html body .container-fluid .payments-table tbody tr:nth-of-type(2n), html body .container .payments-table tbody tr:nth-of-type(2n) {
  background-color: #f7f7f7;
}
/* line 159, ../sass/screen.scss */
html body .container-fluid .payments-table tbody tr td, html body .container .payments-table tbody tr td {
  vertical-align: middle;
}
/* line 165, ../sass/screen.scss */
html body .container-fluid .payments-table tfoot td, html body .container .payments-table tfoot td {
  border-top: 0;
}
/* line 173, ../sass/screen.scss */
html body .container-fluid .pagination li a, html body .container .pagination li a {
  margin: 0 2.5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 9px;
  color: #717171;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
  background-image: -moz-linear-gradient(#ffffff, #eaeaea);
  background-image: -webkit-linear-gradient(#ffffff, #eaeaea);
  background-image: linear-gradient(#ffffff, #eaeaea);
  border-color: #bbbbbb;
}
/* line 185, ../sass/screen.scss */
html body .container-fluid .pagination .active a, html body .container .pagination .active a {
  color: white;
  border-color: #575757;
  background-image: none;
  background-color: #686868;
  -moz-box-shadow: #575757 0 0 3px 1px inset;
  -webkit-box-shadow: #575757 0 0 3px 1px inset;
  box-shadow: #575757 0 0 3px 1px inset;
}
/* line 195, ../sass/screen.scss */
html body .modal-content {
  padding: 0 30px;
}
/* line 198, ../sass/screen.scss */
html body .modal-content .modal-body .modal-details-headings {
  font-weight: bolder;
  width: 120px;
  display: inline-block;
}
/* line 204, ../sass/screen.scss */
html body .modal-content .modal-footer {
  text-align: center;
}
/* line 208, ../sass/screen.scss */
html body .pound-sign {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 0 2px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-weight: bold;
  border: 1px solid #717171;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhZGNkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dadcdc));
  background-image: -moz-linear-gradient(#ffffff, #dadcdc);
  background-image: -webkit-linear-gradient(#ffffff, #dadcdc);
  background-image: linear-gradient(#ffffff, #dadcdc);
}
/* line 219, ../sass/screen.scss */
html body .pound-sign.active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhiY2JlOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRmOWJkZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8bcbe8), color-stop(100%, #4f9bde));
  background-image: -moz-linear-gradient(#8bcbe8, #4f9bde);
  background-image: -webkit-linear-gradient(#8bcbe8, #4f9bde);
  background-image: linear-gradient(#8bcbe8, #4f9bde);
  color: white;
}
